<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>InceptionDB -  αlpha</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="/lib/bootstrap.min.css">
        <link rel="stylesheet" href="style.css?a">
        <script src="/lib/axios.min.js"></script>
        <script src="/lib/vue.js"></script>
    </head>
    <body>
        <div id="app" :collection="collection_name">
            <div id="frame-top">
                <a href="https://github.com/fulldump/inceptiondb" style="display: block; float: right; margin: 8px;">
                    <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true" class="octicon octicon-mark-github" style="vertical-align: middle; height: 2em;">
                        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                    </svg>
                </a>
                <h1 style="padding: 8px 16px;">InceptionDB</h1>
            </div>
            <div id="frame-center">
                <div id="frame-left">
                    <h2 id="collectionsTitle">Collections</h2>
                    <ul id="collectionsList" style="margin: 0; padding: 0; list-style-type: none;">
                        <li
                            v-for="collection in collections"
                            class="list-group-item"
                            :class="{active: collection_name == collection}"
                            @click="selectCollection(collection.name); showPanel('fullscan'); fetchFullScan(collection.name);"
                        >
                            <div style="float: right; font-size: 12px;">
                                <span v-if="collection.indexes">🔑 {{ collection.indexes }}</span>
                                <span :title="collection.total">📃 {{ prettyTotal(collection.total) }}</span>
                            </div>
                            <h5 :title="collection" class="mb-1 text-truncate">{{ collection.name }}</h5>
                            <div class="line2" style="font-size: 90%;">
                                <a href="#" >Fullscan</a>
                                |
                                <a href="#" @click.prevent.stop="selectCollection(collection.name); showPanel('indexsearch'); fetchIndexes(collection);">IndexSearch</a>
                            </div>
                        </li>
                    </ul>
                    <br>
                    <div id="collectionsButtons" style="text-align: center;">
                        <button class="btn btn-primary" @click="create_collection.show = true">Create collection</button>
                    </div>
                </div>

                <div class="frame-right" v-if="panels.home">
                    <div style="max-width: 800px; margin: auto;">

                        <div style="text-align: center;">
                            <h1>InceptionDB</h1>
                            <h2 style="color: silver; font-size: 24px; margin-top: -20px; font-weight: bold;">community edition</h2>
                        </div>

                        <br>

                        <p>A home made database based on journal to store JSON documents.</p>

                        <h2>Motivation</h2>

                        <p>InceptionDB was born to be the persistence layer of another project called Bitumen. Bitumen is a distributed NAS that should store family memories, pictures and videos that should last for 50 or 100 years.</p>

                        <p>One of the biggest motivations is the code should be simple and easy to maintain (yes, even the database itself) and also 100% free of license restrictions.</p>

                        <p>The second biggest motivation is to have fun and learn some things :D.</p>

                        <h2>Contribute</h2>

                        <p>InceptionDB is free software.</p>

                        <p>
                            Here is the source:
                            <a href="https://github.com/fulldump/inceptiondb">
                                <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true" class="octicon octicon-mark-github" style="vertical-align: middle; height: 14px;">
                                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                                </svg>github.com/fulldump/inceptiondb
                            </a>
                        </p>

                        <p>
                            <ul>
                                <li>Use it in your project (as an independent process or embedded into your software)</li>
                                <li>Modify to cover your own needs</li>
                                <li>Learn how other software is built</li>
                            </ul>
                        </p>

                        <p>
                            Find documentation examples here:
                            <a href="https://github.com/fulldump/inceptiondb/tree/master/doc/examples">
                                <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true" class="octicon octicon-mark-github" style="vertical-align: middle; height: 14px;">
                                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                                </svg>github.com/fulldump/inceptiondb/tree/master/doc/examples
                            </a>
                        </p>

                    </div>

                </div>

                <div class="frame-right" v-if="collection_name">
                    <h2 id="collectionTitle">{{ collection_name }}</h2>

                    <div class="line2">
                        <a href="#" :class="{active: panels.fullscan}" @click.prevent.stop="showPanel('fullscan'); fetchFullScan(collection_name);">Fullscan</a>
                        |
                        <a href="#" :class="{active: panels.indexsearch}" @click.prevent.stop="showPanel('indexsearch'); fetchIndexes(collection_name);">IndexSearch</a>
                        |
                        <a href="#" :class="{active: panels.delete}"  @click.prevent.stop="showPanel('delete');">Drop collection</a>
                    </div>

                    <div v-if="panels.fullscan">
                        <div v-if="rows === null">loading...</div>
                        <div v-else-if="rows.length === 0">
                            <div class="alert alert-info" role="alert">
                                Result is empty, try inserting some rows.
                            </div>
                        </div>
                        <form @submit.prevent="fetchFullScan(collection_name)">
                            <div class="form-group">
                                <label for="fullscan-filter">Type filter in MongoDB style:</label>
                                <textarea class="form-control" v-model="full_scan.filter" id="fullscan-filter" rows="3" style="font-family: monospace;" @keyup="fullscanFilterKeyup()"></textarea>
                            </div>
                        </form>
                        <table class="table table-striped" >
                            <tr v-for="row in rows">
                                <td style="font-family: monospace;">{{ row }}</td>
                            </tr>
                        </table>
                        <div v-if="rows.length || full_scan.skip">
                            <form @submit.prevent="fetchFullScan(collection_name)" style="width: 460px; margin: 0 auto;">
                               <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button
                                            :disabled="full_scan.skip==0"
                                            class="btn btn-secondary"
                                            type="button"
                                            @click="full_scan.skip -= full_scan.limit; if (full_scan.skip <0) {full_scan.skip=0}; fetchFullScan(collection_name);"
                                        >Previous</button>
                                    </div>
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="fullscan-pagination-skip">skip</label>
                                    </div>
                                    <input
                                            type="number"
                                            class="form-control"
                                            id="fullscan-pagination-skip"
                                            v-model="full_scan.skip"
                                            @keyup="fetchFullScan(collection_name)"
                                            min="0"
                                    >
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="fullscan-pagination-limit">limit</label>
                                    </div>
                                    <input
                                            type="number"
                                            class="form-control"
                                            id="fullscan-pagination-limit"
                                            v-model="full_scan.limit"
                                            @keyup="fetchFullScan(collection_name)"
                                            min="0"
                                    >
                                    <div class="input-group-append">
                                        <button
                                            :disabled="rows.length < full_scan.limit"
                                            class="btn btn-secondary"
                                            type="button"
                                            @click="full_scan.skip += parseInt(full_scan.limit); fetchFullScan(collection_name);"
                                        >Next</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="examples">
                            <div class="examples_client_selector">
                                <span
                                    v-for="client in examples.clients"
                                    :class="{active: client == examples.client}"
                                    @click="examples.client = client"
                                >[{{client}}]</span>
                            </div>
                            <div class="code" v-if="examples.client=='curl'">
                                <code>curl '{{base_url}}/v1/collections/{{collection_name}}:find' -d '{{  {mode:'fullscan', limit: full_scan.limit, skip: full_scan.skip, filter: JSON.parse(full_scan.filter) } }}'</code>
                            </div>
                            <div class="code" v-else-if="examples.client=='js'">
                                <code>fetch('{{base_url}}/v1/collections/{{collection_name}}:find', {method: 'POST'})
    .then(response => response.json())
    .then(data => console.log(data));</code>
                            </div>
                            <div class="code" v-else>
                                <code>// No sample available at this moment</code>
                                You can contribute at <a href="https://github.com/fulldump/inceptiondb">https://github.com/fulldump/inceptiondb</a>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h2>Insert</h2>
                        <form @submit.prevent="insertItemSubmit">
                            <div class="form-group">
                                <label for="insertPayload">Type the document you want to insert in JSON:</label>
                                <textarea class="form-control" v-model="insert_item.request.payload" id="insertPayload" rows="3" style="font-family: monospace;"></textarea>
                            </div>
                            <div style="text-align: center;">
                                <button class="btn btn-primary" type="submit">Insert item</button>
                            </div>
                            <div v-if="insert_item.error" class="alert alert-danger" role="alert" style="margin-top: 16px;">{{ insert_item.error }}</div>
                        </form>
                        <br>
                        <div class="examples">
                            <div class="examples_client_selector">
                                <span
                                    v-for="client in examples.clients"
                                    :class="{active: client == examples.client}"
                                    @click="examples.client = client"
                                >[{{client}}]</span>
                            </div>
                            <div class="code" v-if="examples.client=='curl'">
                                <code>curl {{base_url}}/v1/collections/{{collection_name}} -d '{{ JSON.parse(insert_item.request.payload) }}'</code>
                            </div>
                            <div class="code" v-else-if="examples.client=='js'">
                                <code>fetch('{{base_url}}/v1/collections/{{collection_name}}')
                                    .then(response => response.json())
                                    .then(data => console.log(data));</code>
                            </div>
                            <div class="code" v-else>
                                <code>// No sample available at this moment</code>
                                You can contribute at <a href="https://github.com/fulldump/inceptiondb">https://github.com/fulldump/inceptiondb</a>
                            </div>
                        </div>
                    </div>

                    <div v-if="panels.indexsearch">
                        Select index
                        <select v-model="find_by_index" @change="selectIndex()">
                            <option v-for="index in indexes" :value="index.name">{{index.name}} (type {{ index.type }})</option>
                        </select>
                        <span @click="index_see_details = !index_see_details;" style="cursor: pointer; font-size: 10px;">see details</span>

<!--                        {{ indexes }}<br>-->
<!--                        {{find_by_index}}-->
<!--                        {{selected_index}}-->
                        <div v-if="selected_index.type == 'map'">

                            <div v-if="index_see_details" style="border: solid silver 1px; background-color: #F8F8F8; padding: 4px; border-radius: 2px;">
                                <div style="font-family: monospace;">
                                    Field: {{ selected_index.field }}<br>
                                    Sparse: {{ selected_index.sparse }}<br>
                                </div>
                            </div>

                            Find by field <span style="font-family: monospace">"{{selected_index.field}}"</span>
                            <input type="text" v-model="find_by_value" @keyup="findByIndex(collection_name, find_by_index, find_by_value)"> <br>

                        </div>
                        <div v-if="selected_index.type == 'btree'">
                            <div v-if="index_see_details" style="border: solid silver 1px; background-color: #F8F8F8; padding: 4px; border-radius: 2px;">
                                <div style="font-family: monospace;">
                                    Fields: {{ selected_index.fields }}<br>
                                    Sparse: {{ selected_index.sparse }}<br>
                                    Unique: {{ selected_index.unique }}<br>
                                </div>
                            </div>

                            <div>
                                From (included)
                                <div v-for="field in selected_index.fields" style="padding-left: 20px;">
                                    <span style="font-family: monospace;">{{field}}</span> <input type="text" v-model="find_btree.from[field]" @keyup="findByIndexBtree()"><br>
                                </div>
                            </div>

                            <div>
                                To (excluded)
                                <div v-for="field in selected_index.fields" style="padding-left: 20px;">
                                    <span style="font-family: monospace;">{{field}}</span> <input type="text" v-model="find_btree.to[field]" @keyup="findByIndexBtree()"><br>
                                </div>
                            </div>

                            <table>
                                <tr>
                                    <td>
                                        skip
                                    </td>
                                    <td>
                                        <input type="number" min="0" v-model="find_btree.skip" @change="findByIndexBtree()">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        limit
                                    </td>
                                    <td>
                                        <input type="number" min="1" v-model="find_btree.limit" @change="findByIndexBtree()">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Reverse order
                                    </td>
                                    <td>
                                        <input type="checkbox" v-model="find_btree.reverse" @change="findByIndexBtree()">
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped" v-if="rows">
                                <tr>
                                    <th v-for="field in selected_index.fields"> {{ field }}</th>
                                    <th>{ document }</th>
                                </tr>
                                <tr v-for="row in rows">
                                    <td v-for="field in selected_index.fields"> {{ row[field] }}</td>
                                    <td style="font-family: monospace;">{{ row }}</td>
                                </tr>
                            </table>

                        </div>
                        <div v-if="find_by_error" class="alert alert-danger" role="alert" style="margin-top: 16px;">{{find_by_error}}</div>
                        <pre v-if="item">{{ item }}</pre>
                        <button v-if="item" class="btn btn-primary" @click="findByIndex(collection_name, find_by_index, find_by_value)">Reload</button>
                        <br>
                        <br>
                        <div class="examples" v-if="item">
                            <div class="examples_client_selector">
                                <span
                                    v-for="client in examples.clients"
                                    :class="{active: client == examples.client}"
                                    @click="examples.client = client"
                                >[{{client}}]</span>
                            </div>
                            <div class="code" v-if="examples.client=='curl'">
                                <code>curl {{base_url}}/v1/collections/{{encodeURIComponent(collection_name)}}/index/{{encodeURIComponent(find_by_index)}}/findBy/{{encodeURIComponent(find_by_value)}}</code>
                            </div>
                            <div class="code" v-else-if="examples.client=='js'">
                                <code>fetch('{{base_url}}/v1/collections/{{encodeURIComponent(collection_name)}}/index/{{encodeURIComponent(find_by_index)}}/findBy/{{encodeURIComponent(find_by_value)}}')
    .then(response => response.json())
    .then(data => console.log(data));</code>
                            </div>
                            <div class="code" v-else>
                                <code>// No sample available at this moment</code>
                                You can contribute at <a href="https://github.com/fulldump/inceptiondb">https://github.com/fulldump/inceptiondb</a>
                            </div>
                        </div>

                        <div v-if="item">
                            <br><br>
                            <h2>Patch</h2>
                            <textarea style="width: 98%; height: 180px; font-family: monospace;" v-model="item_patch"></textarea>
                            <button class="btn btn-primary" @click="applyPatchClick()">Apply patch</button>
                            <br>
                            <br>
                            <div class="examples">
                                <div class="examples_client_selector">
                                <span
                                    v-for="client in examples.clients"
                                    :class="{active: client == examples.client}"
                                    @click="examples.client = client"
                                >[{{client}}]</span>
                                </div>
                                <div class="code" v-if="examples.client=='curl'">
                                    <code>curl {{base_url}}/v1/collections/{{encodeURIComponent(collection_name)}}:patch -X PATCH -d '{{ JSON.parse(this.item_patch) }}'</code>
                                </div>
                                <div class="code" v-else-if="examples.client=='js'">
                                    <code>fetch('{{base_url}}/v1/collections/{{encodeURIComponent(collection_name)}}:patch', {{ {"method":"PATCH", "body":JSON.parse(this.item_patch)} }})
    .then(response => response.json())
    .then(data => console.log(data));</code>
                                </div>
                                <div class="code" v-else>
                                    <code>// No sample available at this moment</code>
                                    You can contribute at <a href="https://github.com/fulldump/inceptiondb">https://github.com/fulldump/inceptiondb</a>
                                </div>
                            </div>

                            <br>
                            <br>
                            <h2>Delete</h2>
                            <div style="text-align: center;">
                                Press this button to delete the item <code>{{find_by_index}}="{{find_by_value}}"</code>
                                <br>
                                <br>
                                <button class="btn btn-danger" @click="deleteItemClick">Delete</button>
                            </div>

                            <br>
                            <div class="examples">
                                <div class="examples_client_selector">
                                <span
                                        v-for="client in examples.clients"
                                        :class="{active: client == examples.client}"
                                        @click="examples.client = client"
                                >[{{client}}]</span>
                                </div>
                                <div class="code" v-if="examples.client=='curl'">
                                    <code>curl {{base_url}}/v1/collections/{{encodeURIComponent(collection_name)}}/index/{{encodeURIComponent(find_by_index)}}/findBy/{{encodeURIComponent(find_by_value)}} -X DELETE</code>
                                </div>
                                <div class="code" v-else-if="examples.client=='js'">
                                    <code>fetch('{{base_url}}/v1/collections/{{encodeURIComponent(collection_name)}}/index/{{encodeURIComponent(find_by_index)}}/findBy/{{encodeURIComponent(find_by_value)}}', {{ {"method":"DELETE"} }})
                                        .then(response => response.json())
                                        .then(data => console.log(data));</code>
                                </div>
                                <div class="code" v-else>
                                    <code>// No sample available at this moment</code>
                                    You can contribute at <a href="https://github.com/fulldump/inceptiondb">https://github.com/fulldump/inceptiondb</a>
                                </div>
                            </div>

                        </div>
                        <br><br><br><br><br><br>
                    </div>

                    <div v-if="panels.delete" style="text-align: center;">
                        <br>
                        Press the following button to drop the collection <code>{{collection_name}}</code>: <br>
                        <br>
                        <button class="btn btn-danger" @click="deleteCollectionClick()">Drop</button>
                    </div>

                </div>
            </div>

            <div class="popup" v-if="create_collection.show">
                <div class="popup-window">
                    <div class="popup-decoration">
                        <form @submit.prevent="createCollectionSubmit">
                            <header>
                                <h1>Create collection</h1>
                            </header>
                            <section>
                                <div class="form-group">
                                    <label for="collection_name">Collection name</label>
                                    <input type="text" v-model="create_collection.request.payload.name" class="form-control" id="collection_name" placeholder="Enter collection name">
                                    <small id="collection_name_help" class="form-text text-muted">Just alphanumeric text.</small>
                                </div>
                                <div class="examples">
                                    <div class="examples_client_selector">
                                        <span
                                            v-for="client in examples.clients"
                                            :class="{active: client == examples.client}"
                                            @click="examples.client = client"
                                        >[{{client}}]</span>
                                    </div>
                                    <div class="code" v-if="examples.client=='curl'">
                                        <code>curl {{base_url}}/v1/collections -d '{{create_collection.request.payload}}' </code>
                                    </div>
                                    <div class="code" v-else-if="examples.client=='js'">
                                        <code>fetch('{{base_url}}/v1/collections', {{ {"method":"POST", "body":create_collection.request.payload} }})
    .then(response => response.json())
    .then(data => console.log(data));</code>
                                    </div>
                                    <div class="code" v-else>
                                        <code>// No sample available at this moment</code>
                                        You can contribute at <a href="https://github.com/fulldump/inceptiondb">https://github.com/fulldump/inceptiondb</a>
                                    </div>
                                </div>

                            </section>
                            <footer>
                                <button type="button" class="btn btn-secondary" @click="create_collection.show = false">Cancel</button>
                                <button type="submit" class="btn btn-primary">Create collection</button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <script>

            var app = new Vue({
                el: '#app',
                data: {
                    base_url: window.location.protocol + '//' + window.location.host,
                    examples: {
                        clients: ['curl', 'js', 'go'],
                        client: 'curl',
                    },
                    collection_name: "",
                    collections: [],
                    rows: [],
                    indexes: [],
                    selected_index: {},
                    index_see_details: false,
                    find_by_value: '',
                    find_by_index: '',
                    find_by_error: '',
                    find_btree: {
                        from: {},
                        to: {},
                        reverse: false,
                        skip: 0,
                        limit: 10,
                    },
                    item: '',
                    panels: {
                        fullscan: false,
                        indexsearch: false,
                        delete: false,
                        insert: false,
                        home: true,
                    },
                    item_patch: '{\n\n}',

                    // Operation create collection
                    create_collection: {
                        show: false,
                        request: {
                            payload: {
                                name: '',
                            },
                        },
                    },

                    // Operation insert item
                    insert_item: {
                        error: '',
                        request: {
                            payload: '{\n\n}',
                        },
                    },

                    // Operation full scan
                    full_scan: {
                        skip: 0,
                        limit: 10,
                        filter: '{\n\n}',
                        request: {
                            payload: {},
                        },
                    },
                },
                methods: {
                    listCollections() {
                        var that = this;
                        axios.get('/v1/collections')
                            .then(function(resp) {
                                that.collections = resp.data;
                            });
                    },
                    selectCollection(collection) {
                        this.rows = [];
                        this.indexes = [];
                        this.collection_name = (this.collection_name == collection) ? '' : collection;
                        this.full_scan.skip = 0;
                        this.full_scan.filter = '{\n\n}';
                    },
                    findByIndex(collection, index, value) {
                        var that = this;
                        that.find_by_error = '';
                        axios({
                            method: 'POST',
                            url: '/v1/collections/'+ encodeURIComponent(collection) + ':find',
                            data: {
                                mode: "unique",
                                index: index,
                                value: value,
                            }
                        })
                            .then(function(resp) {
                                that.item = resp.data;
                                if (resp.data == '') {
                                    that.find_by_error = `No match for ${value}`
                                }
                            })
                            .catch(function (error) {
                                that.item = '';
                                if (error.response) {
                                    that.find_by_error = error.response.data.error;
                                    return
                                }
                                that.find_by_error = 'Network error';
                            });
                    },
                    createCollectionSubmit() {
                        // this.showPanel('');
                        var that = this;
                        axios.post('/v1/collections', this.create_collection.request.payload)
                            .then(function(resp) {
                                console.log('createcollectionresp', resp);
                                var newCollection = resp.data;
                                that.collections.push(newCollection);
                                that.selectCollection(newCollection.name);
                                that.create_collection.show = false;
                                that.showPanel('fullscan');
                            })
                            .catch(function(error) {
                                // TODO: put this error somewhere
                                if (!error.response) return;
                                alert(error.response.data.error);
                            });
                    },
                    insertItemSubmit() {
                        var payloadJson = JSON.parse(this.insert_item.request.payload);
                        this.insertItem(this.collection_name, payloadJson)
                    },
                    insertItem(collection, payload) {
                        var that = this;
                        axios.post('/v1/collections/'+ encodeURIComponent(collection)+':insert', payload)
                            .then(function(resp) {
                                that.insert_item.error = '';
                                that.rows.push(JSON.stringify(payload));
                                that.insert_item.request.payload = '{\n\n}';
                            })
                            .catch(function(error) {
                                if (!error.response) {
                                    that.insert_item.error = 'network error';
                                    return
                                }
                                that.insert_item.error = error.response.data.error;
                            });
                    },
                    createCollectionClick() {
                        this.create_collection.show = true;
                    },
                    deleteCollectionClick() { // Todo: rename to dropCollection
                        collection = this.collection_name;
                        var ok = confirm("Collection '"+collection+"' will be deleted, continue?");
                        if (!ok) return;
                        this.deleteCollection(collection)
                    },
                    deleteCollection(collection) { // Todo: rename to dropCollection
                        var that = this;
                        axios.post('/v1/collections/'+ encodeURIComponent(collection)+':dropCollection')
                            .then(function(resp) {
                                that.collection_name = '';
                                that.collections.splice(that.collections.indexOf(collection), 1);
                            });
                    },
                    showPanel(panel) {
                        for (var key in this.panels) {
                            this.panels[key] = key == panel;
                        }
                    },
                    fetchFullScanExperimental(collection) {
                        var that = this;
                        that.rows = [];
                        const fileURL = '/v1/collections/'+ encodeURIComponent(collection) + ':find';
                        const utf8Decoder = new TextDecoder("utf-8");
                        fetch(fileURL).then(response => {
                            let re = /\r\n|\n|\r/gm;
                            let startIndex = 0;
                            let reader = response.body.getReader();


                            var readCallback = function({value, done}) {
                                chunk = value
                                chunk = chunk ? utf8Decoder.decode(chunk, {stream: true}) : "";
                                for (;;) {
                                    let result = re.exec(chunk);
                                    if (!result) {
                                        if (done) {
                                            break;
                                        }
                                        let remainder = chunk.substr(startIndex);
                                        reader.read().then(readCallback);
                                        chunk = remainder + (chunk ? utf8Decoder.decode(chunk, {stream: true}) : "");
                                        startIndex = re.lastIndex = 0;
                                        continue;
                                    }
                                    var line = chunk.substring(startIndex, result.index);
                                    that.rows.push(line)
                                    console.log(line);
                                    startIndex = re.lastIndex;
                                }
                                if (startIndex < chunk.length) {
                                    // last line didn't end in a newline char
                                    console.log(chunk.substr(startIndex));
                                }

                            }

                            reader.read().then(readCallback);

                        });
                    },
                    fetchFullScan(collection) {
                        let that = this;
                        let payload = {
                            mode: "fullscan",
                            filter: {},
                            limit: parseInt(that.full_scan.limit),
                            skip: that.full_scan.skip,
                        };

                        try {
                            payload.filter = JSON.parse(that.full_scan.filter);
                        } catch (e) {
                            console.log(e)
                            // Nothing happen :D
                        }

                        axios({
                            method: 'post',
                            url: '/v1/collections/'+ encodeURIComponent(collection)+':find',
                            data: payload,
                            transformResponse: (res) => {return res;},
                            responseType: 'text',
                        })
                            .then(function(resp) {
                                var rows = [];
                                resp.data.split("\n").forEach(function(line) {
                                    if (line == '') return;
                                    rows.push(line);
                                });
                                that.rows = rows;
                            });
                    },
                    fullscanFilterKeyup() {
                        try {
                            JSON.parse(this.full_scan.filter)
                            this.fetchFullScan(this.collection_name);
                        } catch (e) {
                        }
                    },
                    fetchIndexes(collection) {
                        var that = this;
                        axios.post('/v1/collections/'+ encodeURIComponent(collection) + ":listIndexes")
                            .then(function(resp) {
                                that.indexes = resp.data;
                            });
                    },
                    applyPatchClick() {
                        var patchJson = JSON.parse(this.item_patch);
                        this.applyPatch(this.collection_name, this.find_by_index, this.find_by_value, patchJson)
                    },
                    applyPatch(collection, key, value, patch) {
                        var that = this;
                        let payload = {
                            "mode": "unique",
                            "field": key,
                            "value": value,
                            "patch": patch,
                        };
                        axios.post('/v1/collections/'+ encodeURIComponent(collection) + ':patch', payload)
                            .then(function(resp) {
                                that.item = resp.data;
                                that.item_patch = '{\n\n}';
                            });
                    },
                    deleteItemClick() {
                        var that = this;
                        let payload = {
                            "mode": "unique",
                            "field": that.find_by_index,
                            "value": that.find_by_value,
                        };
                        axios.post('/v1/collections/'+ encodeURIComponent(that.collection_name) + ':remove', payload)
                            .then(function(resp) {
                                that.item = null;
                                that.find_by_value = '';
                            });
                    },
                    prettyTotal(n) {
                        if (n > 1000000) {
                            return (n/1000000).toFixed(0) + 'M';
                        }
                        if (n > 1000) {
                            return (n/1000).toFixed(0) + 'K';
                        }
                        return n
                    },
                    selectIndex() {
                        this.rows = [];
                        for (i in this.indexes) {
                            console.log(i);
                            const index = this.indexes[i];
                            if (index.name == this.find_by_index) {
                                this.selected_index = index;
                                break;
                            }
                        }
                        if (this.selected_index.type == 'btree') {
                            this.find_btree.skip = 0;
                            this.findByIndexBtree();
                        }
                    },
                    findByIndexBtree() {
                        let that = this;
                        let payload = {
                            index: this.selected_index.name,
//                            filter: {},
                            reverse: this.find_btree.reverse,
                            limit: parseInt(this.find_btree.limit),
                            skip: parseInt(this.find_btree.skip),
                        };

                        let fromCount = 0;
                        for (let field in this.find_btree.from) {
                            if (this.find_btree.from[field]) {
                                fromCount++;
                            }
                        }
                        if (fromCount = this.selected_index.fields.length) {
                            payload.from = this.find_btree.from
                        }

                        let toCount = 0;
                        for (let field in this.find_btree.to) {
                            if (this.find_btree.to[field]) {
                                toCount++;
                            }
                        }
                        if (toCount = this.selected_index.fields.length) {
                            payload.to = this.find_btree.to
                        }

                        axios({
                            method: 'post',
                            url: '/v1/collections/'+ encodeURIComponent(this.collection_name)+':find',
                            data: payload,
                            transformResponse: (res) => {return res;},
                            responseType: 'text',
                        })
                            .then(function(resp) {
                                var rows = [];
                                resp.data.split("\n").forEach(function(line) {
                                    if (line == '') return;
                                    rows.push(JSON.parse(line));
                                });
                                that.rows = rows;
                            });

                    },
                },
                beforeMount() {
                    this.listCollections();
                },
            });

        </script>

    </body>
</html>



