html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#frame-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

#frame-center {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
}

#frame-left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    overflow-y: auto;
    padding: 0 16px;
}

#frame-right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 320px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0 16px;
}

/* collections list */
#collectionsList .list-group-item:hover {
    cursor: pointer;
    box-shadow: 0 0 4px 0px dodgerblue;
}

#collectionsList .list-group-item.active a {
    color: white;
}

/* options menus line2 */
#frame-right .line2 {
    margin-bottom: 16px;
}

.line2 a.active {
    text-decoration: underline;
}

/* Popup */
.popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
}

.popup .popup-window {
    max-height: 90%;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
    padding: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.popup .popup-decoration {
    border: solid silver 1px;
    background-color: white;
    padding: 16px;
    border-radius: 3px;
}

.popup .popup-decoration footer {
    text-align: right;
    padding-top: 16px;
}

/* examples */
.examples {
    background-color: #bbcae1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.examples:before {
    display: block;
    content: 'Examples';
    color: white;
    float: left;
    font-weight: bold;
    padding: 0 8px;
}

.examples .examples_client_selector {
    text-align: right;
}

.examples .examples_client_selector span {
    color: dodgerblue;
    font-family: monospace;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
}

.examples .examples_client_selector span:hover {
    text-decoration: underline;
}

.examples .examples_client_selector span.active {
    color: dodgerblue;
    font-weight: bold;
    text-decoration: underline;
}

.examples .code code {
    white-space: pre-wrap;
    display: block;
    border: solid silver 1px;
    border-radius: 2px;
    padding: 2px;
    background-color: #f8f2ea;
}